<?xml version="1.0" encoding="UTF-8"?>
<phpunit
        colors="true"
        processIsolation="false"
        stopOnFailure="false"
        syntaxCheck="false"
        bootstrap="./tests/bootstrap.php"
>
    <!-- Add any additional test suites you want to run here -->
    <testsuites>
        <testsuite name="Push Test Suite">
            <directory>./tests/TestCase</directory>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">./src</directory>
        </whitelist>

        <!-- Prevent coverage reports from looking in tests and vendors -->
        <blacklist>
            <directory suffix=".php">./docs</directory>
            <directory suffix=".php">./vendor</directory>
            <directory suffix=".php">./tests</directory>
            <file>./tests/bootstrap.php</file>
        </blacklist>
    </filter>

    <logging>
        <log type="coverage-clover" target="build/logs/clover.xml"/>
    </logging>
</phpunit>
